@font-face {
  font-family: 'NanumGothic';
  src:	url('../fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/NanumGothic.woff') format('woff'), 
		url('../fonts/NanumGothic.ttf')  format('truetype'), 
		url('../fonts/NanumGothic.svg#NanumGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
	background:#242424;
	font-family: 'NanumGothic';
	font-size:2vh;
	color:#ffffff;
	margin:0;
	padding:0;
	position:relative;
}


/***************** header ************/

header{
	height:8vh;
	background:#0a0a00;
	width:100%;
}
header .logo{
	position:absolute;
	top:0;
	left:2vh;
}
header .logo img{
	width:8vh;
}
header .events-widget{
	float:left;
	position:relative;
}
header a.alpha{
	color:#fff;
	text-decoration:none;
	padding-left:14vh;
	position:relative;
	float:left;
}
header a.alpha img{
	width:4vh;
	top:3vh;
	position:absolute;
}
header a.alpha span{
	margin:0 4vh 0 6vh;
	line-height:8vh;
}

header .timeline-widget{
	float:right;
	position:relative;
}
header .rolex{
	position:absolute;
	top:2vh;
	right:8vh;
}
header .rolex img{
	width:20vh;
}
header .time{
	margin:0;
	line-height:8vh;
	padding-right:30vh;
}
header .time span{
	padding:0 4vh;
}

/************ container ***************/

.site{
	width:100%;
	height:84vh;
}



/************* foooter ****************/

footer{
	background:#0a0a00;
	height:8vh;
	width:100%;
}
footer p.weather{
	margin:0 4vh;
	line-height:8vh;
	width:40vw;
	float:left;
}
footer p.weather span{
	margin:0 0 0 4vh;
	
}
footer .feed-item{
	float:left;
	margin-left:20vh;
	position:relative;
}
footer .feed-item p{
	line-height:8vh;
	margin:0;
	
}
footer .feed-item img{
	margin-top:2vh;
    position: absolute;
	left:-10vh;
	width:8vh;
}
footer .bing-widget{
	float:right;
}
footer .bing-widget a{
	text-decoration:none;
	color:#ffffff;
	line-height:8vh;
	padding-right:4vh;
	position:relative;
}
footer .bing-widget a img{
    position:relative;
	left:-1.5vw;
	top:1.5vh;
	width:1.6vw;
}